* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

.div-app {
  margin: 90px 20px 20px 20px;
  padding: 30px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #F6FFE4;
  border: solid 3px black;
  border-radius: 30px;
}

.link-components, .link-products {
  margin: 5.5% 6px 0px 6px;
  text-decoration: none;
  color: white;
}

.ShowComponentsDetails {
  font-family: sans-serif;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1rem;
}

.h1-components-page {
  margin-left: 133px;
  text-align: center;
  width: 16rem;
  background-color: white;
  border: solid 3px black;
  border-radius: 8px;
}

.h1-component-details {
  margin-left: 80px;
  text-align: center;
  width: 23rem;
  background-color: white;
  border: solid 3px black;
  border-radius: 8px;
}

.h1-product-details {
  margin-left: 95px;
  text-align: center;
  width: 20rem;
  background-color: white;
  border: solid 3px black;
  border-radius: 8px;
}

.h2-component-name {
  display: block;
  width: 20rem;
  margin: 5px auto 5px auto;
  border-radius: 15px;
  border: solid 1px #324E01;
}

.h2-product-name {
  display: block;
  margin: 5px auto 5px auto;
  width: 20rem;
  border-radius: 15px;
  border: solid 1px #324E01;
}

h3 {
  font-size: 1rem;
  line-height: 1.4;
}

.h3-total-price {
  text-align: center;
  margin: 8px 5.5rem 5px 3rem;
  border-radius: 7px;
  border: solid 2px crimson;
  background-color: white;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 20px;
}

li {
  border: 1px solid #747272;
  padding: 10px;
  border-radius: 5px;
}

img {
  width: 341px;
  height: 256px;
  align-self: center;
}

.img {
  border-radius: 15px;
  border: solid 1px #324E01;
}



